/*header*/
header .header-top {
  background-color: #2f2f2f;
}

header .header-top .col-xs-offset-3 {
  margin-left: 22%;
}

header .header-top .navigation ul {
  margin: 0;
}

header .header-top .navigation li {
  display: inline-block;
  vertical-align: middle;
  padding: 7px 18px;
}

header .header-top .navigation a {
  color: white;
  font-size: 17px;
  text-decoration: none;
  transition: all ease-out 0.2s;
}

header .header-top .navigation a:hover {
  text-shadow: 0 0 2px #fff;
}

header .header-middle {
  padding-bottom: 18px;
}

header .header-middle .logo {
  padding-top: 16px;
}

header .header-middle .header-tel {
  float: left;
  width: 50%;
  padding-top: 26px;
}

header .header-middle .header-tel a {
  color: #3d3d3d;
  font-size: 29px;
  text-decoration: none;
  transition: all ease-out 0.2s;
}

header .header-middle .header-tel a:hover {
  text-shadow: 0 0 1px #000000;
}

header .header-middle .header-tel a span {
  margin-left: -18px;
}

header .header-middle .header-zvonok {
  float: left;
  width: 50%;
  padding-top: 23px;
  padding-left: 20px;
}

header .header-middle .header-zvonok .button-a {
  line-height: 45px;
  text-decoration: none;
}

/*footer*/
.footer .logo {
  padding-top: 17px;
}

.footer .confidental {
  padding-top: 10px;
}

.footer .confidental a, .footer .created a {
  font-size: 18px;
  color: #2f2f2f;
  text-decoration: none;
}

.footer .created {
  text-decoration: underline;
  padding-top: 5px;
}

.footer .created:hover {
  text-decoration: none;
}

.footer .footer-addres {
  margin-left: -31px;
}

.footer .footer-addres .addres-row {
  margin-bottom: 5px;
  position: relative;
}

.footer .footer-addres a, .footer .footer-addres p {
  color: #2f2f2f;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.footer .footer-addres .footer-tel {
  position: absolute;
  left: -20px;
  top: 3px;
  width: 13px;
  height: 13px;
  background: url("../images/footer-icon-tel.png") center center no-repeat;
  text-decoration: none;
}

.footer .footer-addres .footer-mark {
  position: absolute;
  left: -20px;
  top: 3px;
  width: 11px;
  height: 15px;
  background: url("../images/footer-icon-mark.png") center center no-repeat;
}

.footer .footer-top-navigation {
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer .footer-top-navigation .row {
  margin: 0 0 5px;
}

.footer .footer-top-navigation .footer-item {
  float: left;
  width: 25%;
}

.footer .footer-top-navigation .footer-item a {
  font-size: 14px;
  color: #2f2f2f;
  text-decoration: underline;
}

.footer .footer-top-navigation .footer-item a:hover {
  color: #0693bd;
}

.footer .row > div {
  opacity: 0;
  transition: all ease 0.3s;
}

.footer .row > div.animated {
  opacity: 1;
}

/*index*/
.two-images .two-images-wrap {
  display: table;
  margin: 0 auto;
}

.two-images .two-images-item {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
  opacity: 0;
  transition: 0.2s opacity ease-out 0.4s !important;
}

.two-images .two-images-item.animated {
  opacity: 1;
}

.two-images .two-images-item.animated .ti-left {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.two-images .two-images-item.animated .ti-right {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.two-images .two-images-item-wrap.ti-left {
  float: right;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  transition: 0.3s -webkit-transform ease-out 0.4s;
  transition: 0.3s transform ease-out 0.4s;
}

.two-images .two-images-item-wrap.ti-right {
  float: left;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  transition: 0.3s -webkit-transform ease-out 0.4s;
  transition: 0.3s transform ease-out 0.4s;
}

.two-images .two-images-text {
  color: #fff;
  padding: 0 25px;
  max-width: 495px;
}

.two-images .two-images-title {
  font-weight: bold;
  font-size: 33px;
  padding-top: 36px;
  text-transform: uppercase;
}

.two-images .two-images-title.title-big {
  font-size: 48px;
  padding-top: 23px;
}

.two-images .two-images-title.title-big + .two-images-description {
  padding-top: 18px;
}

.two-images .two-images-description {
  font-size: 18px;
  line-height: 22px;
  padding-top: 22px;
}

.two-images .two-images-description h5 {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 19px;
  margin: 0 0 10px;
}

.two-images .two-images-description h4 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
  line-height: 26px;
}

.two-images .two-images-description p {
  margin-bottom: 20px;
}

.about_company.poli_about_company .two-images-description h5 {
  margin-bottom: 15px;
}

.about_company.poli_about_company .two-images-description {
  font-size: 16px;
}

.about_company .about_company-section {
  background: url("../images/about_company_bg.jpg") center top no-repeat;
  background-size: cover;
  vertical-align: top;
}

.about_company .two-images-text {
  color: #fff;
  padding: 0 25px;
  max-width: 520px;
}

.anil_val .anil_val-section {
  vertical-align: top;
  background-color: #f9b300;
}

.anil_val .button-a {
  line-height: 45px;
  max-width: 260px;
  margin-top: 15px;
  margin-bottom: 15px;
}
