/*header*/
header .header-top {
  background-color: #2f2f2f;
}

header .header-top .navigation ul {
  margin: 0;
}

header .header-top .navigation li {
  display: inline-block;
  vertical-align: middle;
  padding: 7px 18px;
}

header .header-top .navigation a {
  color: white;
  font-size: 17px;
  text-decoration: none;
  transition: all ease-out 0.2s;
}

header .header-top .navigation a:hover {
  text-shadow: 0 0 2px #fff;
}

header .header-middle .logo {
  padding-top: 16px;
}

header .header-middle .header-tel {
  float: left;
  width: 50%;
  padding-top: 26px;
}

header .header-middle .header-tel a {
  color: #3d3d3d;
  font-size: 29px;
  text-decoration: none;
  transition: all ease-out 0.2s;
}

header .header-middle .header-tel a:hover {
  text-shadow: 0 0 1px #000000;
}

header .header-middle .header-zvonok {
  float: left;
  width: 50%;
  padding-top: 23px;
  padding-left: 20px;
}

header .header-middle .header-zvonok .button-a {
  line-height: 45px;
  text-decoration: none;
}

/*footer*/
.footer .logo {
  padding-top: 17px;
}

.footer .confidental {
  padding-top: 10px;
}

.footer .confidental a, .footer .created a {
  font-size: 18px;
  color: #2f2f2f;
  text-decoration: none;
}

.footer .created {
  text-decoration: underline;
  padding-top: 5px;
}

.footer .created:hover {
  text-decoration: none;
}

.footer .footer-addres {
  margin-left: -20px;
}

.footer .footer-addres .addres-row {
  margin-bottom: 5px;
  position: relative;
}

.footer .footer-addres a, .footer .footer-addres p {
  color: #2f2f2f;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.footer .footer-addres .footer-tel {
  position: absolute;
  left: -20px;
  top: 3px;
  width: 13px;
  height: 13px;
  background: url("../images/footer-icon-tel.png") center center no-repeat;
  text-decoration: none;
}

.footer .footer-addres .footer-mark {
  position: absolute;
  left: -20px;
  top: 3px;
  width: 11px;
  height: 15px;
  background: url("../images/footer-icon-mark.png") center center no-repeat;
}

.footer .footer-top-navigation .footer-item {
  float: left;
  width: 25%;
}
