/*header*/
header{
    .header-top{background-color: #2f2f2f;
        .col-xs-offset-3{margin-left: 22%;}
        .navigation{
            ul{margin: 0;}
            li{display: inline-block;vertical-align: middle;padding: 7px 18px;}
            a{color: white;font-size: 17px;text-decoration: none;transition:all ease-out .2s;
                &:hover{text-shadow: 0 0 2px #fff;}
            }
        }
    }
    .header-middle{padding-bottom: 18px;
        .logo{padding-top: 16px;}
        .header-tel{float: left;width: 50%;padding-top: 26px;
            a{color: #3d3d3d;font-size: 29px;text-decoration: none;transition:all ease-out .2s;
                &:hover{text-shadow: 0 0 1px #000000;}
                span{margin-left: -18px;}
            }
        }
        .header-zvonok{float: left;width: 50%;padding-top: 23px;padding-left: 20px;
            .button-a{line-height: 45px;text-decoration: none;}
        }
    }
}
/*footer*/
.footer{padding-top: 15px;
    .logo{padding-top: 17px;}
    .confidental{padding-top: 10px;
        a{transition:all ease .2s;}
        &:hover a{color:#12A8DF; }
    }
    .confidental,.created{
        a{font-size: 18px;color: #2f2f2f;text-decoration: none;}
    }
    .created{padding-top: 5px;
        a{transition:all ease .2s;text-decoration: none;border-bottom: 1px solid #2f2f2f;}
        &:hover a{border-bottom: none;}
    }
    .footer-addres{margin-left: -31px;
        .addres-row{margin-bottom: 5px;position: relative;}
        a,p{color: #2f2f2f;font-size: 16px;line-height: 20px;text-decoration: none;transition:all ease .2s;
            &:hover{opacity: .9}
        }
        .footer-tel{position: absolute;left: -20px;top: 3px;width: 13px;height: 13px;background: url('../images/footer-icon-tel.png') center center no-repeat;text-decoration: none;}
        .footer-mark{position: absolute;left: -20px;top: 3px;width: 11px;height: 15px;background: url('../images/footer-icon-mark.png') center center no-repeat;}
    }
    .footer-top-navigation{padding-top: 15px;padding-bottom: 15px;
        .row{margin: 0 0 5px;}
        .footer-item{float: left;width: 25%;
            a{font-size: 14px;color: #2f2f2f;text-decoration: underline;
                &:hover{color: #0693bd;}
            }
        }
    }
    .footer-bottom{}
    .row{
        &>div{opacity: 0;transition:all ease .3s;
            &.animated{opacity: 1;}
        }
    }
}

/*index*/
.two-images{
    .two-images-wrap{display: table;margin: 0 auto;}
    .two-images-item{display: table-cell;width: 50%;vertical-align: middle;opacity: 0;transition: .2s opacity ease-out .4s !important;

        &.animated{opacity: 1;
            .ti-left{transform: translateX(0);}
            .ti-right{transform: translateX(0);}
        }
    }
    .two-images-item-wrap{
        &.ti-left{float: right;transform: translateX(-100%);transition: .3s transform ease-out .4s;}
        &.ti-right{float: left;transform: translateX(100%);transition: .3s transform ease-out .4s;}
    }
    .two-images-img{

    }
    .two-images-text{color: #fff;padding: 0 25px;max-width: 495px;}
    .two-images-title{font-weight: bold;font-size: 33px;padding-top: 36px;text-transform: uppercase;
        &.title-big{font-size: 48px;padding-top: 23px;}
        &.title-big+.two-images-description{padding-top: 18px;}
    }
    .two-images-description{font-size: 18px;line-height: 22px;padding-top: 22px;
        h5{text-transform: uppercase;font-size: 14px;line-height: 19px;margin: 0 0 10px;}
        h4{text-transform: uppercase;font-size: 25px;font-weight: bold;margin-bottom: 15px;line-height: 26px;}
        p{margin-bottom: 20px;}
    }
}
.about_company{
    &.poli_about_company{
        .two-images-description h5{margin-bottom: 15px;}
        .two-images-description {font-size: 16px;}
    }

    .about_company-section{background: url("../images/about_company_bg.jpg") center top no-repeat;background-size: cover;vertical-align: top;}
    .two-images-text{color: #fff;padding: 0 25px;max-width: 520px;}
}
.anil_val{
    .anil_val-section{vertical-align: top;background-color: #f9b300;}
    .button-a{line-height: 45px;max-width: 260px;margin-top: 15px;margin-bottom: 15px;}
}
