/*header*/
header{
    .header-top{background-color: #2f2f2f;
        .navigation{
            ul{margin: 0;}
            li{display: inline-block;vertical-align: middle;padding: 7px 18px;}
            a{color: white;font-size: 17px;text-decoration: none;transition:all ease-out .2s;
                &:hover{text-shadow: 0 0 2px #fff;}
            }
        }
    }
    .header-middle{
        .logo{padding-top: 16px;}
        .header-tel{float: left;width: 50%;padding-top: 26px;
            a{color: #3d3d3d;font-size: 29px;text-decoration: none;transition:all ease-out .2s;
                &:hover{text-shadow: 0 0 1px #000000;}
            }
        }
        .header-zvonok{float: left;width: 50%;padding-top: 23px;padding-left: 20px;
            .button-a{line-height: 45px;text-decoration: none;}
        }
    }
}
/*footer*/
.footer{
    .logo{padding-top: 17px;}
    .confidental{padding-top: 10px;}
    .confidental,.created{
        a{font-size: 18px;color: #2f2f2f;text-decoration: none;}
    }
    .created{text-decoration: underline;padding-top: 5px;
        &:hover{text-decoration: none;}
    }
    .footer-addres{margin-left: -31px;
        .addres-row{margin-bottom: 5px;position: relative;}
        a,p{color: #2f2f2f;font-size: 16px;line-height: 20px;text-decoration: none;}
        .footer-tel{position: absolute;left: -20px;top: 3px;width: 13px;height: 13px;background: url('../images/footer-icon-tel.png') center center no-repeat;text-decoration: none;}
        .footer-mark{position: absolute;left: -20px;top: 3px;width: 11px;height: 15px;background: url('../images/footer-icon-mark.png') center center no-repeat;}
    }
    .footer-top-navigation{padding-top: 15px;padding-bottom: 15px;
        .row{margin: 0 0 5px;}
        .footer-item{float: left;width: 25%;
            a{font-size: 14px;color: #2f2f2f;text-decoration: underline;
                &:hover{color: #0693bd;}
            }
        }
    }
}
