.header-slider-wrap{
    .header-slider-wrap-main .header-slider-item{overflow: hidden; text-align: center; outline: none;
            img{max-width: none;width: 1920px;}
            .content-box{ position: absolute; left: 31%; top: 17%;background: none; outline: none;
                h1{color:#ffffff; font-family: 'Geometria'; font-weight: bold; font-size: 40px; text-transform: uppercase ; line-height: 1.25; -moz-transition: all 0.8s ease-in;-webkit-transition: all 0.8s ease-in;-o-transition: all 0.8s ease-in;    transition: all 0.8s ease-in;outline: none;
                    span{font-size: 60px}
                }
                h2{color:#ffffff; font-family: 'Geometria'; font-size: 24px; text-transform: uppercase ; margin-top: 0; -moz-transition: all 0.8s ease-in;-webkit-transition: all 0.8s ease-in;-o-transition: all 0.8s ease-in;    transition: all 0.8s ease-in; outline: none;}
            &:hover{text-decoration: none; text-shadow: 2px 2px 2px rgba(215,155,0, 0.86);
                h1{color: orange;}
                h2{color: orange;}
            }
            &:focus{text-decoration: none;}
            }
        }
    .slick-dots{position: absolute;margin-bottom: 50px;bottom: 0;left: 0;right: 0;text-align: center;
        li{display: inline-block;margin-right: 10px;
            &:last-child{margin-right: 0;}
            button{font-size: 0;border:2px solid #fff;padding:0;margin:0;background-color: transparent;border-radius: 50%;width: 12px;height: 12px;
                &:focus{outline: none;}
            }
            &:hover, &.slick-active{
                button{background-color: #fff;}
            }
        }
    }
}