/* main-styles */

section{overflow: hidden;}
.title-wrap{font-family: 'Geometria',sans-serif;font-size: 33px;font-weight: 700;color:#2f2f2f;text-align: center;margin-bottom: 20px;text-transform: uppercase;line-height: 40px;
    .title{opacity: 0;transform:translate(0, 25%);-webkit-transform:translate(0, 25%);-moz-transform:translate(0, 25%);-ms-transform:translate(0, 25%);transition:opacity 400ms ease, transform 300ms ease;-webkit-transition:opacity 400ms ease, transform 300ms ease;-moz-transition:opacity 400ms ease, transform 300ms ease;-ms-transition:opacity 400ms ease, transform 300ms ease;
        &.animated{opacity: 1;transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);}
    }
    &.white{color:#fff;}
}

/* /main-styles */

/* circle block */

.circles-block{padding-top: 41px;padding-bottom: 47px;
    .title-wrap{margin-bottom: 44px;}
}

.circles-block .row{margin-bottom: 30px;
    &:last-child{margin-bottom: 0;}
}
.circle-img-wrap{text-align: center;margin-bottom: 7px;
    img{transform:scale(0) rotate(180deg);-webkit-transform:scale(0) rotate(180deg);-moz-transform:scale(0) rotate(180deg);-ms-transform:scale(0) rotate(180deg);transition:transform 400ms ease;-webkit-transition:transform 400ms ease;-moz-transition:transform 400ms ease;-ms-transition:transform 400ms ease;}
}
.circles-block-wrap .animated .circle-img-wrap img{transform:scale(1) rotate(0deg);-webkit-transform:scale(1) rotate(0deg);-moz-transform:scale(1) rotate(0deg);-ms-transform:scale(1) rotate(0deg);}

.circle-wrap-description{font-size: 15px;line-height:18px;color:transparent;transition:color 400ms ease, transform 300ms ease;-webkit-transition:color 400ms ease, transform 300ms ease;-moz-transition:color 400ms ease, transform 300ms ease;-ms-transition:color 400ms ease, transform 300ms ease;transform:translate(0,20%);-webkit-transform:translate(0,20%);-ms-transform:translate(0,20%);-moz-transform:translate(0,20%);
    span{font-weight: 700;color:transparent;transition:color 400ms ease;-webkit-transition:color 400ms ease;-moz-transition:color 400ms ease;-ms-transition:color 400ms ease;}
}
.circles-block-wrap .animated .circle-wrap-description{color:#2f2f2f;transform:translate(0,0);-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-ms-transform:translate(0,0);
    span{font-weight: 700;color:#07afda;}
}

/* /circle block */

/* production */

.production-block{background-color: #f2f2f2;padding: 52px 0 49px 0;
    .title-wrap{margin-bottom: 37px;}
    .production-item-content{padding-top: 30px;opacity: 0;transform:translate(20%,0);-webkit-transform:translate(20%,0);-moz-transform:translate(20%,0);-ms-transform:translate(20%,0);transition:opacity 400ms ease, transform 300ms ease;-webkit-transition:opacity 400ms ease, transform 300ms ease;-moz-transition:opacity 400ms ease, transform 300ms ease;-ms-transition:opacity 400ms ease, transform 300ms ease;
        &.animated{opacity: 1;transform:translate(0,0);-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-ms-transform:translate(0,0);
            li{position: relative;padding-left: 10px;color:#000;
                &:before{content: '';display: block;position: absolute;width: 4px;height: 4px;border-radius: 50%;background-color: #000000;left: 0;top: 8px;}
            }
        }
    }
    .production-item-img{opacity: 0;transform:translate(-20%,0);-webkit-transform:translate(-20%,0);-moz-transform:translate(-20%,0);-ms-transform:translate(-20%,0);transition:opacity 400ms ease, transform 300ms ease;-webkit-transition:opacity 400ms ease, transform 300ms ease;-moz-transition:opacity 400ms ease, transform 300ms ease;-ms-transition:opacity 400ms ease, transform 300ms ease;
        &.animated{opacity: 1;transform:translate(0,0);-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-ms-transform:translate(0,0);}
    }
}
.production-item{font-size: 16px;padding-bottom: 20px;position:relative;border-bottom: 2px solid #07aad7;margin-bottom: 20px;
    &:before{content: '';position: absolute;left: 0;bottom: -1px;width: 0;height: 2px;background-color: #07aad7;transition:width 300ms ease;-webkit-transition:width 300ms ease;-ms-transition:width 300ms ease;-moz-transition:width 300ms ease;}
    &.animated:before{width: 100%;}
    &.smaller-border{
        .production-item-content{padding-top: 10px;}
        &:before{height: 0px;bottom: 0;}
    }
    .production-item-title{font-weight: 700;color:#07afda;margin-bottom: 18px;text-transform: uppercase;}
    .production-item-text{color:#2f2f2f;margin-bottom: 36px;line-height: 19px;}
    .col-md-4, .col-md-7{padding:0;}
    .production-item-button a.button-a{max-width: 210px;width: 100%;height: 39px;line-height: 39px;
        &:hover{text-decoration: none;}
    }
}
.production-container .col-xs-12:last-child .production-item{border-bottom: none;margin-bottom: 0;padding-bottom: 0;
    &:before{display: none;}
}

/* /production */

/* predo-buttons */

.predo-buttons-item{display: inline-block;vertical-align: top;width:33%;padding:0 15px;font-size: 24px;color:#fff;margin-bottom: 20px;}
.button-a.button-border{border-bottom:2px solid #005283}
.predo-buttons-item .button-a{height: 79px;font-weight: 300;}

/* /predo-buttons */